<h2>If you know it better...</h2>


<form action="/celebrities/{{editCeleb.id}}" method="POST">

Name: <input type="text" name="name" value={{editCeleb.name}}> <br>
Occupation: <input type="text" name="occupation" value={{editCeleb.occupation}}> <br>
Catchphrase: <input type="text" name="catchphrase" value={{editCeleb.catchphrase}}> <br>

<button type="submit">Update</button>

</form>