<h2>Who is your favourite Potter celeb?</h2>

<form action="/celebrities/new" method="POST">

Name: <input type="text" name="name" placeholder="Name"> <br>
Occupation: <input type="text" name="occupation" placeholder="Occupation"> <br>
Catchphrase: <input type="text" name="catchphrase" placeholder="Catchphrase"> <br>

{{!-- Place button inside form tag in order to submit data --}}
<button type="submit">Add</button>

</form>
