<h2>What is your favourite Potter movie?</h2>

<form action="/movies/new" method="POST">

Title: <input type="text" name="title" placeholder="Title"> <br>
Genre: <input type="text" name="genre" placeholder="Genre"> <br>
Plot: <input type="text" name="plot" placeholder="Plot"> <br>

{{!-- Place button inside form tag in order to submit data --}}
<button type="submit">Add</button>

</form>
